---
import { clients } from "../../constants/clients"
import ContainerSmall from "../../layouts/ContainerSmall.astro"
---

<section class="bg-clientsBackground w-full py-4">
	<ContainerSmall>
		<div class="grid grid-cols-1 lg:grid-cols-4 place-items-center gap-x-24">
			{
				clients.map((c, index) => (
					<img src={`/${c}`} alt="client logo" class="block" height="140px" width="140px"/>
				))
			}
		</div>
	</ContainerSmall>	
</section>