---
import Container from "../../layouts/Container.astro";
import H1White from "../common/atoms/H1White.astro";


---

<section class="w-full">
	<Container>
		<div>
			<H1White text="Want Industry Leaders Working On Your IT Projects? Contact Us Now!" />
		</div>
	</Container>
</section>