---
import Container from "../../layouts/Container.astro";
import H1Leading from "../common/atoms/H1Leading.astro";
---

<section class="relative w-full py-8">
	<div class="absolute top-0 left-0 bottom-0 bg-brandGreen h-full w-[50%]"></div>
	<Container>
		<div class="z-10 flex">
			<div class="basis-1/2 flex justify-center items-center flex flex-col pr-16">
				<H1Leading text="Want Industry Leaders Working On Your IT Projects?" />
				<br />
				<H1Leading text="Contact Us Now!" />
			</div>
			<div class="basis-1/2 w-full bg-white p-8">
				<form class="flex flex-col gap-4">
					<input type="text"  placeholder="Name"  class="border p-2"/>
					<input type="text"  placeholder="Email ID" class="border p-2"/>
					<textarea placeholder="Project Description"  class="border p-2"/>
					<img src="/captcha.png" alt="Captcha" width="300px" />
					<button class="uppercase text-white bg-brandGreen hover:bg-brandGreen/80 rounded font-extrabold p-4">submit</button>
				</form>
			</div>
		</div>
	</Container>
</section>