---
import ContainerSmall from "../../layouts/ContainerSmall.astro";

import H1 from "../common/atoms/H1.astro";
---

<section class="w-full bg-dimWhite py-24">
	<ContainerSmall>
		<div class="flex flex-col justify-center gap-4 items-center">
			<H1 text="SNEAK INTO OUR CORPORATE PROFILE" />
			<p class="text-center text-xl text-gray-600 leading-8">
				We are real people who believe in delivering agile results. Our agency is a renowned IT solutions provider, and we offer a comprehensive package of tech-savvy services clubbed with innovative solutions. As a leading technology partner, we hold expertise in Digital marketing, SEO, SMM, Web Design, Mobile App development, Ecommerce development, Back Office Support services and Emerging technologies like Alexa Skills, Machine Learning and Artificial Intelligence. Being the leader, it is our responsibility to nurture the business of our prestigious clients. With this mission, our leading digital experts dedicatedly work for delivering impactful results. So it’s time for you to grow with MMF Infotech - a result driven technology agency.	
			</p>
		</div>	
	</ContainerSmall>
</section>