---
import { expertise } from "../../constants/expertise"

import ContainerSmall from "../../layouts/ContainerSmall.astro"
import ExpertSingle from "./ExpertSingle.astro"
---

<section class="w-full py-24 bg-rightLeafBg bg-fixed bg-cover">
	<ContainerSmall>
		<div class="grid grid-cols-3 gap-8">
			{
				expertise.map((e) => (
					<ExpertSingle title={e.title} image={e.img} description={e.description} />
				))
			}
		</div>	
	</ContainerSmall>	
</section>