---
const {image, title, description} = Astro.props

import P from "../common/atoms/P.astro"
---

<div class="p-8 shadow-2xl rounded">
	<img src={image} alt="Expertise Logo" height="55" width="55" class="mb-4" />
	<p class="font-extrabold text-xl text-gray-500">{title}</p>
	<hr class="bg-brandGreen my-4 h-1 w-16"/>
	<P text={description} />
</div>