---
import Container from "../../layouts/Container.astro"
---

<section class="relative">
	<img src="/homeImg.webp" alt="Hero Image" class="bg-cover h-full w-full" />

	<Container>
		<div class="absolute top-[30%] self-start pl-32">
			<h1 class="text-white text-6xl mb-2">Web & Mobile App Development</h1>
			<h3 class="text-white text-3xl mb-8">Build an application that grows your business</h3>
			<button class="uppercase px-32 py-6 text-xl bg-[#008000] text-white rounded font-extrabold">request consultation</button>
		</div>	
	</Container>
</section>