---
const {title, subtitle} = Astro.props; 

import H2 from "../common/atoms/H2.astro";
---

<div class="group flex flex-col gap-4 items-center justify-center px-6 py-4 rounded bg-white shadow-2xl hover:bg-gradient-to-b from-green-400 to-green-800">
	<H2 text={title} styles="group-hover:text-white" />
	<p class="group-hover:text-white">{subtitle}</p>
</div>