---
import Container from "../../layouts/Container.astro";


---

<footer class="w-full bg-black py-8">

	<Container>
		<div class="flex justify-between items-center">
			<p class="text-white text-xl">Copyright &copy; 2024 <spna class="text-brandGreen font-extrabold">MMF Infotech Technologies Pvt. Ltd.</spna></p>
			<div class="flex gap-2">
				<a href="#" class="hover:text-brandGreen text-white">Privacy Policy</a>
				<a href="#" class="hover:text-brandGreen text-white">Terms & Conditions</a>
				<a href="#" class="hover:text-brandGreen text-white">Cookie Policy</a>
				<a href="#" class="hover:text-brandGreen text-white">Reviews</a>
			</div>
		</div>
	</Container>
</footer>